/* RESET */ 
* {
    margin: 0;
    padding: 0;

}

/* MENU */ 

header {
    background-color: gray;
}

li {
    font-size: 18px;
    font-family: 'Verdana';
    font-weight: bold;
    font-style: italic;
    list-style-type: none;
}

.iconMenu {
    margin-left: 101px;
    margin-right: 702px;
}

.iconSign {
    margin-right: 101px;
    background: whitesmoke;
}

.iconLogin {
    background: transparent;
}
/* CORPO DO SITE */

h1 {
    color: rgb(12, 12, 12);
    font-family: tahoma;
    text-align: center;
    text-decoration: underline;
    font-size: 28px;
    font-weight: bold;
    font-weight: normal;
    background-color: green;
    line-height: 50px;
    text-decoration: overline;
    
}


/* RODA PÉ */

blockquote {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    line-height: 48px;
    padding-left: 10px;
}

.imagemFundo {
    background: violet;
    margin: 2%;   
}
