/* INICIO RESET */ 
* {
    margin: 0;
    padding: 0;
}

/* FIM RESET */ 

/*GLOBAIS INICIO*/ 
body {
    font-family: Tahoma;
}
.secao {    
    
}

.limite-display {
    width: 100%;
    min-width: none;
    max-width: 1920px;
    margin: 0 auto;     
}

/*GLOBAIS FIM*/
/*MENU INICIO*/
.menu-bar {    
    background-color: rgba(0, 0, 0, 0.700);
    justify-content: space-between;
    color: white;
}

.menu-bar, .secao-menu ul {
    display: flex;
}

.secao-menu ul { 
    margin: auto 0;
    padding: 20px 0;
    list-style: none; 
           
}

.secao-menu ul li {    
    margin: 0 50px; 
    width: 60px;
    height: 20px;
    box-shadow: inset 10px 10px 10px red; 
}   

.secao-menu ul li a {    
    text-decoration: none;
    color: white;    
}

.menu-bar .btn-contato {
    margin-right: 20px;
}

.menu-bar .icon-logo {
    margin-left: 20px;
}

/*MENU FIM*/



 
/* CORPO */



/* RODA PÉ */
