body {   
    margin: 0;
    padding: 0;
    background-color: rgb(243, 236, 218);
}
div {
    margin: 10px auto;
    width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.secaoMenu {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0px auto;
    width: 700px;
}

.secaoMenu a {
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(156, 112, 1);
}

.imagemLogo {
    width: 200px;
}

.secaoSobre {
    text-align: center;    
    margin: 0px auto;
    width: 700px;
}

.secaoSobre h2 {
    color: orange;

}

.imagemBancada {
    text-align: center;    
    margin: 0px auto;
    width: 700px;
}

.secaoProdutos {
    background-color: orange;
    text-align: center;    
    margin: 0px auto;
    width: 700px;  
    padding: 10px 0px;  
}

.secaoProdutos p {  
    text-align: center;    
    margin: 0px auto;  
    width: 480px;    
}

.imagemProduto {
    text-align: center;    
    margin: 0px auto;
    width: 300px;
}

.secaoContato {    
    text-align: center;    
    margin: 0px auto;
    width: 700px;  
    padding: 10px 0px;  
}

span {
    font-weight: bold;
}
